section#header{
	min-height: 90vh;
	background: url(../images/bmw_st_johns.png) no-repeat center;
	background-size: cover;
}

section#two{
	min-height: 100vh;
}
section#quotes{
	height: 40vh;
	background-color: #ddd;
	padding: 50px 0;
}
@media screen and (max-width: 767px){
	section#quotes{
		height: 50vh;
	}
}
section#footer{
	min-height: 100px;
	background-color: black;
}

div.footer {
	padding: 2.5em;
}

	.sectionLeft {
		height: 100vh;
		padding: 0;
	}
	.sectionRight {
		height: 100vh;
		background: url(../images/dyna_mini.jpg) no-repeat center;
		background-size: cover;
	}

	div#firstDiv {
		background-color: white;
		height: 50%;
		/*display: block;*/
	}
	div#secondDiv {
		/*display: block;*/
	}
div.content {
	padding: 50px;
}

h2 { margin: 0;}


#instafeed img {
  display:inline-block;
  position:relative;
  width: 25%;
}

#quote-carousel {
	text-align: center;
	color: #272b30;
}

.carousel-inner {
	margin-top: 5px;
	border-top: 1px solid black;
}

blockquote {
	border-left: none;
}

.topLinks {
	background-color: #111;
}

	.linkTop_img {
		width: 100%;
		margin: 30px 0 0 0;
	}

.bottomLinks {
	background-color: #222;
	padding: 10px;
}

#mapBtn {
	margin-top: 5px;
}

.nav {
	background-color: #1c1e21;
	height: 70px;
}
.goToTop {
	position: fixed;
	top: 0;
	z-index: 999;
	width: 100%;
}